node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.expo/
.expo-shared/
.vscode/
dist/
build/
coverage/
.DS_Store
.env
.env.local
.env.*.local
venv/
__pycache__/
*.py[cod]
*.sqlite3
/.idea/
ios/
android/
*.keystore
